@import url(https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap);

.title{
	font-family: 'Odibee Sans';
	font-size: 40px;
	text-align: center;
}

.introText{
	font-family: 'Odibee Sans';
	font-size: 25px;
	text-align: center;
}

.App-logo {
  height: 20vmin;
  display: block;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}