.welcomeText{
    
	font-size: 15px;
    bottom: 16rem;
    right: 10rem;
    left: 43em;
}
.difficulty{
    text-align:center;
    position: absolute;
    bottom: 16rem;
    right: 10rem;
    left: 53em;
    color: #fff;
    border-radius: 5px;
    width: 75px;
}

.Next{
    display: block;
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
	margin: 0;
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 92%;
    right: 20rem;
    width: 80px;
}
.Next:hover{
	background: #394D61;
}
.loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.progress{
  position: absolute;
  bottom: 18rem;
  right: 10rem;
  left: 53em;
}


