@import url(https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap);

.welcomeText{
    position: absolute;
	font-size: 15px;
    bottom: 18rem;
    right: 10rem;
    left: 18rem;
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
}
.question{
    font-family: 'Odibee Sans';
    font-size: 22px;
}
.category{
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
}

.difficulty{
    text-align:center;
    position: absolute;
    bottom: 16rem;
    right: 10rem;
    left: 53em;
    color: #fff;
    border-radius: 5px;
    width: 75px;
}

.Next{
    display: block;
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #f6f9fc;
	margin: 0;
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 92%;
    right: 20rem;
    width: 80px;
}
.Next:hover{
	background: #394D61;
}
.loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.progress{
  position: absolute;
  bottom: 18rem;
  right: 10rem;
  left: 53em;
}


/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 4px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }