@import url(https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap);

.welcomeText{
	font-size: 15px;
  padding: 0px 0px 0px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
}
.question{
    font-family: 'Odibee Sans';
    font-size: 22px;
}
.category{
    font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;
}

.difficulty{
    text-align:center;
    float: right;
    color: #fff;
    border-radius: 5px;
    width: 75px;
}

.Next{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #f6f9fc;
	margin: auto;
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 20rem;
    width: 80px;
}
.Next:hover{
	background: #394D61;
}
.loading{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.progress{
  float: right;
}

.prog{
  display: -ms-flexbox;
  color: #f6f9fc;
  font-family: 'Odibee Sans';
  font-size: 15px;
  padding: 0px 130px 0px 0px;
}

/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 1rem;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 4px;
      left: 3px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  /* The Modal (background) */
.modal {
	display: inherit; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  /* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-message{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: rgb(22, 22, 22);

}
.modal-button-yes{
  margin: 5px;
  border: none;
  background: #055a3e;
	border-radius: 5px;
  width: 60px;
	color: #f6f9fc;
}
.modal-button-yes:hover{
	background: #394D61;
  cursor: pointer;
}

.modal-button-no{
  margin: 5px;
  border: none;
  background: #72042e;
	border-radius: 5px;
	color: #f6f9fc;
  width: 60px;
}
.modal-button-no:hover{
	background: #394D61;
  cursor: pointer;
}