@import url(https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap);

.welcomeForm {
	margin-left: 280px;
	background-color: aquamarine;
	width: 40rem;
	height: 40rem;
}

label{
	font-family: 'Odibee Sans';
	font-size: 25px;
	margin-left: 150px;
}

button{
	font-family: 'Odibee Sans';
	font-size: 20px;
	margin-top: 20px;
	margin-left: 250px;
	width: 100px;
}