.form-style{
	margin: 0 auto;
	width: 700px;
	height: 16.5rem;
	font-size: 16px;
	background: #495C70;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
}

.form-style input[type=text],
.form-style button
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}

.form-style input[type=text]
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style input[type=text]:focus
{
	border-bottom: 1px dashed #D9FFA9;
}
.form-style button{
	background: #576E86;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: #A8BACE;
	margin: 0;
	-ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 53%;
  right: 32rem;
}

.form-style button:hover{
	background: #394D61;
}
